<div class='container'>
    @if(!isFetching())
    {
    <form (ngSubmit)='onSubmit()' [formGroup]='form'>
        <div class="mb-3">
            <label for="name" class="form-label">Name</label>
            <input type="text" class="form-control" id="name" name='name' formControlName="name">

            @if(nameIsInvalid)
            {
            <div class='control-error'>
                Invalid Name. Must only contain letters or whitespaces.
            </div>
            }
        </div>
        <div class="mb-3">
            <label for="id" class="form-label">ID - cannot be changed</label>
            <input type="text" class="form-control" id="id" name='id' [defaultValue]="userId" disabled>
        </div>
        @if(user.role === 'admin'){
        <div class="mb-3">
            <label for="department" class="form-label">Role</label>
            <select class="form-select" aria-label="Department" name='role' formControlName="role">
                @for(role of roles; track role){
                <option [value]="role">{{role}}</option>
                }
            </select>
        </div>
        }
        @else{
        <div class="mb-3">
            <label for="department" class="form-label" disabled>Role - can only be changed by an admin</label>
            <select class="form-select" aria-label="Role" name='role' formControlName="role">
                <option [value]="user.role">{{user.role}}</option>
            </select>
        </div>
        }

        <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="email" class="form-control" id="email" name='email' formControlName="email">

            @if(emailIsInvalid)
            {
            <div class='control-error'>
                Invalid Email. Please enter a valid email address.
            </div>
            }
        </div>
        <div class="mb-3">
            <label for="password" type='password' class="form-label">Password</label>
            <input type="password" class="form-control" id="password" name='password' formControlName="password">
            <div id="passwordHelp" class="form-text">Password must be atleast 6 characters long with atleast one special
                character, alphabet and number.</div>
            @if(passwordIsInvalid)
            {
            <div class='control-error'>
                Invalid password. Please enter a valid password.
            </div>
            }
        </div>
        <div class="mb-3">
            <label for="confirmpassword" type='password' class="form-label">Re-enter Password</label>
            <input type="password" class="form-control" id="confirmpassword" name='confirmpassword'
                formControlName="confirmpassword">
            <div id="retypepasswordHelp" class="form-text">Please reenter above password to confirm.</div>
            @if(confirmPasswordIsInvalid || form.get('password')!.value !== form.get('confirmpassword')!.value)
            {
            <div class='control-error'>
                Please enter the same password as above.
            </div>
            }
        </div>
        <div class="mb-3">
            <label for="number" class="form-label">Phone Number</label>
            <input type="text" class="form-control" id="number" name='number' formControlName="number">

            @if(numberIsInvalid)
            {
            <div class='control-error'>
                Invalid Phone number. Please enter a valid phone number(10 digits).
            </div>
            }
        </div>
        <div class='row text-center'>
            <div class='col'>
                <button type="submit" class="btn btn-primary" [disabled]="!form.valid">Submit</button>
            </div>
            <div class='col'>
                <button type="close" class="btn btn-danger" (click)="onClose()">Close</button>
            </div>
        </div>
    </form>
    }
</div>