<div class='col-auto'>
    <div class="card w-100 text-bg-warning">
        <div class="card-body">
            <h5 class="card-title">Current User</h5>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item list-group-item-warning"><b>User ID: </b>{{operatingUser().id}}</li>
            <li class="list-group-item list-group-item-warning"><b>Name: </b>{{operatingUser().name}}</li>
            <li class="list-group-item list-group-item-warning"><b>Email ID: </b>{{operatingUser().email}}</li>
            <li class="list-group-item list-group-item-warning"><b>Role: </b>{{operatingUser().role}}</li>
            <li class="list-group-item list-group-item-warning"><b>Phone Number: </b>{{operatingUser().number}}</li>
        </ul>
    </div>
</div>
